.navbar-dark {
    background-color: #f0f8ff;
  }
.nav-link{
    padding-left: 10em;
}
.nav-link span,h6{
      color: #e739df;
}
.nav{
    text-decoration: none;
}
.button-top{
    color: #e739df;
}


  