.App {
  text-align: center;
  width: 100%;
}

.nav{
  text-decoration: none;
}

.row-content {
  margin:0px ;
  border-bottom: 1px ridge;
  min-height:400px;
}


.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

.navbar-dark {
  background-color: #512DA8;
}
